.v-application .blue-berry.accent-4 {
    background-color: #48409A !important;
    border-color: #48409A !important;
}

.v-application .pink {
    background-color: #AC208E !important;
    border-color: #AC208E !important;
}
